:root {
    --main-color: #480075;
    --secondary-color: #0374DD;
    --tertiary-color: #EE8328;
    --main-bg-color: #FFD1AF;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
}

header h1 {
    margin-left: 3vw;
    margin-top: 5vh;
}

header h1 a {
    text-decoration: none;
    font-weight: 300;
    font-size: 2vw;
    line-height: 1;
    color: var(--main-color);
}

span {
    margin-left: 2.5vw;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 1.7vw;
}

nav ul {
    list-style-type: none;
    position: absolute;
    width: 100vw;
    top: 0;
    margin-top: 30px;
    left: 30vw;
}

nav ul li {
    display: inline-block;    
    padding: 3vh 4vw;
    font-weight: 300;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
}

.nav-bar a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.cta a {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 55vw;
    background-color: var(--tertiary-color);
    box-shadow: 2px 2px 2px var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    height: auto;
    text-align: center;
    color: var(--main-color);
}

.cta a:hover {
    background-color: var(--main-color);
    color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);

}

.landing-bg {
    background-image: url(../assets/images/abstract.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    height: 100vh;
}

.hero {
    display: block;
}

.hero-title {
    position: absolute;
    top: 50vh;
    left: 10vw;
    width: 400px;
    font-size: 48pt;
    font-weight: 300;
    color: var(--main-color);
}

.hero-arrow {
    position: absolute;
    top: 62vh;
    left: 5vw;
    height: 200px;
}

.secondary-bg {
    height: 100vh;
    background-color: var(--main-bg-color);
}

.rows {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 25vh 0 25vh 0;
}

.about-me {
    width: 500px;
    text-align: center;
    padding-left: 10vw;
}

.about-me h2 {
    color: var(--secondary-color);
    font-weight: 300;
    border-bottom: 2px solid var(--secondary-color);
}

.about-me p {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.about img {
    max-width: 300px;
    align-self: center;
    border: 3px solid var(--secondary-color);
    border-radius: 25px;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vh 0 0 0;
}

.projects h2 {
    margin: 0;
    padding: 0 25px 0 25px;
    color: var(--secondary-color);
    font-weight: 300;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
}

.link-hover {
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
}

.link-hover:hover {
    opacity: 90%;
    width: 405px;
    transition: 0.3s ease-in-out;
}

.projects img {
    width: 400px;
    align-self: center;
}

#contact {
    display: none;
}
