:root {
    --main-color: #480075;
    --secondary-color: #0374DD;
    --tertiary-color: #EE8328;
    --main-bg-color: #FFD1AF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url(/assets/images/abstract.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}